body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

:root {
    /* Dark or black on light, black on accent and reverse meet contrast grade AAA */
    --light: #f6f1f1;
    --accent: #19a7ce;
    --dark: #11516e;
    --black: #000000;
}

/* Use CSS Grid to arrange the game board
min-max to optimize for mobile to desktop */
.game-board {
    display: grid;
    grid-template: repeat(3, minmax(25vmin, 1fr)) / repeat(3, minmax(25vmin, 1fr));
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vmin;
    color: var(--black);
}

.game-cell:nth-child(3n - 2) {
    border-right: 3px solid var(--dark);
}

.game-cell:nth-child(3n) {
    border-left: 3px solid var(--dark);
}

.game-cell:nth-child(4),
.game-cell:nth-child(5),
.game-cell:nth-child(6) {
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
}


/* Form styling for player name input */
#form-container {
    /* Visibility toggles on submit */
    display: absolute;
}

/* Modal to display results */
#result-container {
    display: none;
}

/* General styling for both modals */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
}

form,
.result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Position absolutely in the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: clamp(150px, 20vw, 250px);
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;
    background-color: var(--light);
}

div.result-wrapper {
    height: 100px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

button {
    appearance: none;
    font-weight: 700;
    background-color: var(--accent);
    border: none;
    border-radius: 10px;
    padding: .2em 2ch;
    transition: .2s;
}

button:hover {
    transform: translate(-1px, -2px);
    box-shadow: 1px 2px var(--dark);
    transition: .2s;
}

input[type="text"] {
    appearance: none;
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding: .2em;
}

input[type="text"]:focus-visible,
button:focus-visible {
    outline: max(2px, 0.15em) solid var(--accent);
    outline-offset: max(3px, 0.15em);
}